/*
 *  Tabs
 */
nav.tabs ul.tabs {
  margin: 0;
  padding: 10px;
  text-align: center;
}
nav.tabs ul.tabs li {
  margin-right: 15px;
}
nav.tabs ul.tabs li a {
  font-size: 16px;
  padding: 13px 20px 10px 20px;
  border-bottom: 3px solid #ddd;
  background: none;
  color: #444;
  transition-duration: 0.3s;
  transition-delay: 0s;
  transition-property: color, border-color;
  &:hover {
    color: $color-alpha;
    border-color: $color-alpha;
  }
  &.is-active {
    background: $color-alpha;
    color: white;
    border-color: $color-alpha;
    transition: none;
  }
}
