// =============================================================================
// Typography styles
// =============================================================================
* {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  background: #FFFFFF;
  color: $text-color;
  min-width: 300px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  @include breakpoint($breakpoint-m){
    font-size: 18px;
  }
  &.noscroll {
    position: fixed;
    overflow: hidden;
    height: 100%;
  }
}


html,
button,
input,
select,
textarea {
  color: $text-color;
  font-family: $base-font;
}

//  Headings
h1,h2,h3,h4,h5,h6 {
  text-transform: none;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.2em;
  font-family: $heading-font;
  font-size: 16px;
  @include breakpoint($breakpoint-m){
    font-size: 24px;
  }
}
h1 {
  font-size: 38px;
  @include breakpoint($breakpoint-m){
    font-size: 46px;
  }
}
h2 {
  font-size: 22px;
  @include breakpoint($breakpoint-m){
    font-size: 28px;
  }
}
h3 {
  font-size: 18px;
  @include breakpoint($breakpoint-m){
    font-size: 24px;
  }
}
h4 {
  font-size: 16px;
  @include breakpoint($breakpoint-m){
    font-size: 20px;
  }
}

//  Paragraph
p {
  line-height: 1.5em;
  margin: 0.8em 0;
}

//  Links
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

//  Media
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
figure {
  margin:0;
}
