//
// Font definitions
// =============================================================================

//  Icon fonts
@font-face {

}
.icon, [class^="icon-"], [class*=" icon-"] {
  font-family: 'themeinsane' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 *  COPY ICON FONT CLASSES BELOW
*/
