.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: 'insanefonts';
  src: url("../fonts/insanefonts/fonts/insanefonts.ttf?3ddj51") format("truetype"), url("../fonts/insanefonts/fonts/insanefonts.woff?3ddj51") format("woff"), url("../fonts/insanefonts/fonts/insanefonts.svg?3ddj51#insanefonts") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon, [class^="icon-"], [class*=" icon-"] {
  font-family: 'insanefonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*
 *  COPY ICON FONT CLASSES BELOW
*/
.icon-chevron-left:before {
  content: "\e900"; }

.icon-chevron-right:before {
  content: "\e901"; }

* {
  box-sizing: border-box; }

html {
  width: 100%; }

body {
  background: #FFFFFF;
  color: #333333;
  min-width: 300px;
  height: 100%;
  width: 100%;
  font-size: 16px; }
  @media (min-width: 760px) {
    body {
      font-size: 18px; } }
  body.noscroll {
    position: fixed;
    overflow: hidden;
    height: 100%; }

html,
button,
input,
select,
textarea {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  text-transform: none;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.2em;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px; }
  @media (min-width: 760px) {
    h1, h2, h3, h4, h5, h6 {
      font-size: 24px; } }

h1 {
  font-size: 38px; }
  @media (min-width: 760px) {
    h1 {
      font-size: 46px; } }

h2 {
  font-size: 22px; }
  @media (min-width: 760px) {
    h2 {
      font-size: 28px; } }

h3 {
  font-size: 18px; }
  @media (min-width: 760px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-size: 16px; }
  @media (min-width: 760px) {
    h4 {
      font-size: 20px; } }

p {
  line-height: 1.5em;
  margin: 0.8em 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

img,
video,
iframe {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

figure {
  margin: 0; }
